{% extends "base_generic.html" %} {% block content %}
    <header class="masthead" style="background-image: url('{{ index.index_header_image.url }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ index.index_title }}</h1>
                        <span class="subheading">{{ index.index_subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div>

                    <!-- Post preview-->
                    <ul>
                        <h3>Recent Blog Posts</h3>
                        {% if posts %} {% else %}
                            <p>There are no blogs.</p>
                        {% endif %}
                        <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

                        <div>
                            {% load static %}
                        </div>
                        {% for post in posts %}
                            <li>
                                <div class="post-preview">
                                    <a href="{{ post.get_absolute_url }}">
                                        <h2 class="post-title">{{ post.title }}</h2>
                                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                                    </a>
                                    <p class="post-meta">
                                        Posted by
                                        <a href="{% url 'posts-by-author' post.author.pk %}">{{ post.author }}</a>
                                        on {{ post.post_date }}
                                    </p>
                                </div>
                                <!-- Divider-->
                                <hr class="my-4">
                            </li>

                        {% endfor %}

                    </ul>
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                        Posts
                        →</a></div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>



{% endblock %}